html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

html {
  min-height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 13px;
  color: #333;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 14px; }

h4, h5 {
  font-size: 11px; }

p {
  margin: 1em 0; 
}

a {
  cursor: pointer;
  color: #3b5998;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.required {
  color: red; }

.italic {
  color: #666;
  font-style: italic; }

input, textarea {
  border: 1px solid #02283C;
  padding: 2px; }

input:focus, textarea:focus {
  border: 1px solid #ababab; }

body {
  margin: 0;
  padding: 0;
  color: #555;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  background: #6E7C82;
  font-size: 11px;
  color: #333;
  line-height: 1.28;
  margin: 0;
  padding: 0;
  text-align: left;
  direction: ltr;
  unicode-bidi: embed; }

#page {
  margin-bottom: 5px;
  background: #9CB1BA; }

#header {
  margin: 0;
  padding: 0;
  border-top: 3px solid #C9E0ED; }

#content {
  padding: 20px; }

#sidebar {
  padding: 20px 20px 20px 0; }

#footer {
  padding: 10px;
  margin: 10px 20px;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid #C9E0ED; }

#logo {
  padding: 10px 20px;
  font-size: 200%; }

#mainmenu {
  background: #A7C7D2;
  padding: 0;
  border-bottom: 1px solid #487890; }

#mainmenu ul {
  padding: 6px 5px 5px 0px;
  margin: 0px; }

#mainmenu ul li {
  margin: 0;
  display: inline; }

#mainmenu ul li a {
  color: #4878A8;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 8px; }

#mainmenu ul li a:hover, #mainmenu ul li.active a {
  color: #4878A8;
  background: #C8DCE3;
  text-decoration: none; }

div.flash-error, div.flash-notice, div.flash-success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #ddd; }

div.flash-error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4; }

div.flash-notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324; }

div.flash-success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880; }

div.flash-error a {
  color: #8a1f11; }

div.flash-notice a {
  color: #514721; }

div.flash-success a {
  color: #264409; }

div.form .rememberMe label {
  display: inline; }

div.view {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #C9E0ED; }

div.breadcrumbs {
  font-size: 0.9em;
  padding: 5px 20px; }

div.breadcrumbs span {
  font-weight: bold; }

div.search-form {
  padding: 10px;
  margin: 10px 0;
  background: #eee; }

.buttons {
  float: left;
  padding-bottom: 20px;
  clear: both; }

.button {
  color: #6e6e6e;
  font: bold 12px Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 7px 12px;
  position: relative;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  -webkit-transition: border-color .218s;
  -moz-transition: border .218s;
  -o-transition: border-color .218s;
  transition: border-color .218s;
  background: #f3f3f3;
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f5f5f5), to(#f1f1f1));
  background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(#f5f5f5), to(#f1f1f1));
  border: solid 1px #dcdcdc;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-right: 10px; }

.button:hover {
  color: #333;
  border-color: #999;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.button:active {
  color: #000;
  border-color: #444; }

a.left {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  margin: 0; }

a.middle {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-left: solid 1px #f3f3f3;
  margin: 0;
  border-left: solid 1px rgba(255, 255, 255, 0); }

a.middle:hover,
a.right:hover {
  border-left: solid 1px #999; }

a.right {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  border-left: solid 1px #f3f3f3;
  border-left: solid 1px rgba(255, 255, 255, 0); }

a.big {
  font-size: 16px;
  padding: 10px 15px; }

a.supersize {
  font-size: 20px;
  padding: 15px 20px; }

a.save {
  background: url(sprite.png) 10px 7px no-repeat #f3f3f3;
  padding-left: 30px; }

a.add {
  background: url(sprite.png) 10px -27px no-repeat #f3f3f3;
  padding-left: 30px; }

a.delete {
  background: url(sprite.png) 10px -61px no-repeat #f3f3f3;
  padding-left: 30px; }

a.flag {
  background: url(sprite.png) 10px -96px no-repeat #f3f3f3;
  padding-left: 30px; }

a.up {
  background: url(sprite.png) 13px -133px no-repeat #f3f3f3;
  width: 18px; }

a.down {
  background: url(sprite.png) 13px -168px no-repeat #f3f3f3;
  width: 18px; }

a.save-big {
  background: url(sprite.png) 15px 11px no-repeat #f3f3f3;
  font-size: 16px;
  padding: 10px 15px 10px 35px; }

a.add-big {
  background: url(sprite.png) 15px -23px no-repeat #f3f3f3;
  font-size: 16px;
  padding: 10px 15px 10px 35px; }

a.delete-big {
  background: url(sprite.png) 15px -57px no-repeat #f3f3f3;
  font-size: 16px;
  padding: 10px 15px 10px 35px; }

a.flag-big {
  background: url(sprite.png) 15px -92px no-repeat #f3f3f3;
  font-size: 16px;
  padding: 10px 15px 10px 35px; }

a.up-big {
  background: url(sprite.png) 15px -128px no-repeat #f3f3f3;
  width: 18px;
  font-size: 16px;
  padding: 10px 15px; }

a.down-big {
  background: url(sprite.png) 15px -163px no-repeat #f3f3f3;
  width: 18px;
  font-size: 16px;
  padding: 10px 15px; }

.portlet-decoration {
  padding: 3px 8px;
  background: #B7D6E7;
  border-left: 5px solid #6FACCF; }

.portlet-title {
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: #298dcd; }

.portlet-content {
  font-size: 0.9em;
  margin: 0 0 15px 0;
  padding: 5px 8px;
  background: #EFFDFF; }

.portlet-content ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.portlet-content li {
  padding: 2px 0 4px 0px; }

.operations {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.operations li {
  padding-bottom: 2px; }

.operations li a {
  font: bold 12px Arial;
  color: #0066A4;
  display: block;
  padding: 2px 0 2px 8px;
  line-height: 15px;
  text-decoration: none; }

.operations li a:visited {
  color: #0066A4; }

.operations li a:hover {
  background: #80CFFF; }

.noli {
  list-style-type: none; }

.error, .alert, .notice, .success, .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd; }

.error, .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }

.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324; }

.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880; }

.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4; }

.error a, .alert a {
  color: #8a1f11; }

.notice a {
  color: #514721; }

.success a {
  color: #264409; }

.info a {
  color: #205791; }

#ldiv {
  background-image: url(aim_logo.png);
  width: 640px;
  height: 400px; }

#logo_im {
  background-image: url(aim_logo_sm.png);
  width: 251px;
  height: 87px; }

/*
*
* forum
*
*
*/
.forum th {
  color: blue; }

.forum_link {
  font-size: 1.25em; }

.forum_list_row {
  background-color: #fff; }
