/* ==|== primary styles (1140.css and ver01.css) =====================================================
   Author: iyrag
   ========================================================================== */
.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

.main{
margin-bottom:5px;
border-radius:5px;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

.row .onecol {
width: 4.85%;
}

.row .twocol {
width: 13.45%;
}

.row .threecol {
width: 22.05%;
}

.row .fourcol {
width: 30.75%;
}

.row .fivecol {
width: 39.45%;
}

.row .sixcol {
width: 48%;
}

.row .sevencol {
width: 56.75%;
}

.row .eightcol {
width: 65.4%;
}

.row .ninecol {
width: 74.05%;
}

.row .tencol {
width: 82.7%;

}

.row .elevencol {
width: 91.35%;
}

.row .twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}
.main{
margin-top:5px;
}
.box{
padding:0.3em;
}
.html5_logo{
margin-left:auto;
margin-right:auto;
width:4.571em;
height:4.571em;
background-image:url('HTML5_Logo_64.png');
}

h1, h2, h3, h4, h5, h6{
    font-family: tahoma,verdana,arial,sans-serif;
}

.thumb{height:140px;width:140px;display: inline-block;float:left;text-align:center;vertical-align:middle;padding-left:5px;padding-right:5px;}