/*
* iyrag | Wed Apr  4 18:39:42 BST 2012
* version 0.1 of testdrive css *
* you can use it however you want just give credit 
*/
/*** reset http://meyerweb.com/eric/tools/css/reset/ ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** general styles ***/
/* variable in css */
/* you can use it anywhere*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Unicode', tahoma,verdana,arial,sans-serif;
  /* sans-serif font for the whole page */
  background-color: #ebeceb;
  font-size: 80%;
  color: #000;
  line-height: 1.28 em;
  margin: 0;
  padding: 0;
  text-align: left;
  direction: ltr;
  unicode-bidi: embed; }

/*
* headings
*/
h1, h2, h3, h4, h5, h6 {
  color: #007818;
  font-family: tahoma,verdana,arial,sans-serif; }

h1 {
  font-size: 1.7em;
  margin-bottom: 7px;
  letter-spacing: 0.21em; }

h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
  letter-spacing: 0.11em; }

h3 {
  font-size: 1.3em;
  margin-bottom: 4px;
  letter-spacing: 0.09em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 3px;
  letter-spacing: 0.06em; }

h5 {
  font-size: 1.12em;
  margin-bottom: 3px;
  letter-spacing: 0.04em; }

a {
  text-decoration: underline;
  color: #007818; }

a:hover, a:active {
  text-decoration: underline;
  color: #009c1f; }

/* 
* main page 
*/
#page {
  padding: 5px;
  background-color: white;
  border-radius: 4px;
  margin-top: 20px; }

/*
* navigation menu *
*/
#mainmenu {
  background: #d9dbd9;
  padding-bottom: 5px;
  padding-top: 3px;
  border-bottom: 1px solid #e1e2e1; }
  #mainmenu ul li {
    border-radius: 5px; }

#mainmenu ul {
  padding: 6px 5px 5px 0px;
  margin: 0px; }

#mainmenu ul li {
  margin: 0;
  display: inline; }

#mainmenu ul li a {
  color: #696f69;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 8px;
  border: 1px solid #d9dbd9; }

#mainmenu ul li a:hover, #mainmenu ul li.active a {
  color: #9da19d;
  text-decoration: none; }

/*
* User profile
*/
.aboutme h1 {
  font-size: 130%; }
.aboutme h2 {
  font-size: 125%; }
.aboutme h3 {
  font-size: 120%; }
.aboutme h4 {
  font-size: 115%; }
.aboutme h5 {
  font-size: 110%; }
.aboutme h6 {
  font-size: 105%; }
.aboutme img {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin-top: 4px;
  border: 1px solid black; }

.contacts li {
  list-style-type: none;
  display: inline;
  margin: 3px; }

/*
* User settings 
*/
/*
* Input
*/
input, textarea {
  background-color: #fff;
  border: 1px solid #ababab;
  padding: 2px; }

input:focus, textarea:focus {
  background-color: #fff;
  border: 1px solid #007818;
  padding: 2px; }

textarea {
  width: 450px;
  height: 120px; }

.registration_form input[type="text"] {
  width: 200px; }

/*
* messages 
*/
.error, .alert, .notice, .success, .info {
  padding: 0.4em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 1px solid #eee; }

.error, .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }

.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324; }

.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880; }

.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4; }

.error a, .alert a {
  color: #8a1f11; }

.notice a {
  color: #514721; }

.success a {
  color: #264409; }

.info a {
  color: #205791; }

/*
* forums 
*/
.forum_post_time {
  color: #ababab;
  font-size: 90%; }

.user_link {
  font-size: 122%;
  font-weight: bold;
  color: #77b383;
  text-decoration: none; }

.post_avatar {
    /*	    -webkit-box-shadow:0 1px 5px rgba(0,0,0,.46);
	    -moz-box-shadow:0 1px 5px rgba(0,0,0,.46);
	    box-shadow:0 1px 5px rgba(0,0,0,.46); 
	    border-radius:4px;
	    */
  border-bottom: 0px;
  width: 35px;
  height: 35px; }

.profile_name {
  clear: both; }

.profile_info {
  clear: both; }

.post {
  border-bottom: 1px solid #eee;
  overflow: hidden;
  margin-top: 6px;
  margin-bottom: 3px; }
  .post .span-3 {
    padding: 5px;
    float: left; }
  .post .text {
    padding: 5px; }

.last {
  border-bottom: 0px; }

.no_list {
  list-style-type: none; }
  .no_list li {
    margin-bottom: 3px; }

.forum_user_info {
  color: #ababab;
  font-size: 85%; }

/*
* News
*/
.news_item {
  margin: 0;
  padding: 0; }

.news_time {
  color: #ababab;
  margin: 0;
  text-align: right; }

.news_title {
  color: black;
  font-weight: bold; }
